ENV=development

PASSWORD_SALT=

FACEBOOK_ID=
FACEBOOK_SECRET=

DOMAIN=eleven.localhost

POSTGRES_USER=
POSTGRES_PASSWORD=

MONGO_INITDB_ROOT_USERNAME=
MONGO_INITDB_ROOT_PASSWORD=

RECAPTHCA2_APP_ID=
RECAPTHCA2_SECRET=
